@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;}

html{

    font-size: 76%
}



/*This is the About Us CSS*/
body{
    /* do font here */

    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
    display: grid;
   
}
section{
    
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.image{
    
    background: url("/img/YazTec2.png") center/cover no-repeat;
    background-color: rgb(255, 255, 255);
    background-size: 520px;
}
.content{

    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    background: rgb(255, 255, 255);
    
   
}

.content h2{

    letter-spacing: 8px;
    opacity: 1;
    text-transform: uppercase;
    font-size: 40px;
    
}
.content span{
    
    color: rgb(100, 100, 205);
    width: 80px;
    margin: 30px 0;
}
.content p{
    
    width: 65%;
    line-height: 1.8;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    font-weight: 300;
    opacity: 0.8;
}
.links{
    margin: 18px 0;
}
.links li{
  
    padding: 12px 16px;
    width: 170px;
    text-align: center;
    border: 0.8px solid rgb(8, 8, 8);
    list-style: none;
    border-radius: 6px;
}
.links li a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.links li:hover{
    border-color: rgb(100, 100, 205);
}
.links li:hover a{
    color :rgb(100, 100, 205);
}
.vertical-line{
  
    background: rgb(0, 0, 0);
    margin: 0 auto;
    height: 35px;
    width: 0.5px;
}
.icons{
    display: flex;
    padding: 5px 0;
}
.icons li{
   
    margin: 8px;
    display: block;
    padding: 10px;
}
.icons li i{
    opacity: 0.6;
    font-size: 28px;
}
.icons li i:hover{
    color: rgb(100, 100, 205);
}



/*****************/

@media(max-width: 992px){
    section{
        width: 100%;
        grid-template-columns: 1fr;
     
    }
    .image{
        height: 100vh;
    }
    .content{
        height: 100vh;
    }
    .content h2{
        font-size: 25px;
        margin-top: 60px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}




/*This is the Navergation bar CSS*/

/* The body of the website */
body {
    min-height: 110vh;


}

/* Top Navigation Bar*/
header {

    box-shadow: 0 25px 25px rgba(0, 8, 255, 0.05);
    background: rgb(253, 253, 253);
    padding: 25px 40px;
    height: 60px;
    width: 100%;
    left: 0;
    top: 0;

    justify-content: space-between;
    align-items: center;
    position: absolute;
    display: flex;





}

/* Our brand Yaztec */
.brand {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}

/* Navigation bar */
.family {
    display: flex;
    align-items: center;
}
/*  */



header ul li {
    list-style: none;

}
/*  */
header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before {

    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;

}

header ul li a:hover::before
{
    transform: scaleX(1);
    transform-origin: left;
}

header .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    z-index: 12;
    cursor: pointer;
}

.searchArea {
    position: absolute;
    padding: 0 32px;
    transition: 0.6s ease-in-out;
    right: -100%;
    display: flex;
    background: #fff;
    align-items: center;
    scale: 0;
    visibility: hidden;

}

.searchArea.active {
    visibility:visible;
    scale: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    right: 0;
}
.searchArea input {
    width: 100%;
    height: 51px;
    font-size: 1.26em;
    color: rgb(67, 65, 65);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background: rgb(235, 232, 232);
    border: none;
    outline: none;
}

.searchBtn {

    left: 32px;
    top: 2.6px;
    transition: 0.6s ease-in-out;
    position: relative;

}

.searchBtn.active {
    left: 0;
}

.closeBtn {

    transition: 0.6s;
    scale: 0;
    opacity: 0;
    visibility: hidden;

}

.closeBtn.active {

    transition: 0.6s;
    scale: 1;
    opacity: 1;
    visibility: visible;

}

.menuToggle {
    display: none;
    position: relative;
}

/* The animatedd section */

@media (max-width: 800px){
    .searchBtn
    {
        left: 0;
    }
    .menuToggle
    {
        position: absolute;
        display: block;
        font-size: 2.5em;
        cursor: pointer;
        transform: translateX(35px);
        z-index: 12;
    }
    header .nav
    {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;

    }
    header.open .nav
    {
        top: 85px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background: rgb(230, 230, 230);
        width: 100%;
        height: calc(105vh - 85px);
        padding: 45px;
    }
    header.open .nav li a
    {
        font-size: 1.30em;
    }
    .hide
    {
        display: none;
    }
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
  }

  .centered h4{
      font-size: 30px;
      line-height: 40px;
      margin: 25px 0;
      color: whitesmoke;
  }
  .centered h2{

    color: whitesmoke;
}
.centered p{
    color: whitesmoke;
}
.centered a{
    justify-content: center;
    align-items: center;
}

.button{
    top: 50%;
    left: 50%;

}
.btn{
    position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -10%);
    display: inline-block;
    background: white;
    color: red;
    padding: 8px 30px;
    border-radius: 30px;
    transition-duration: 0.5s;

}



.col{
    float: center;
    padding:0.5%;
    flex:100%

}
.Products{
    display:flex;
    text-align: center;
    padding-top:10%;

}
.Products p{
    font-style: bold;
    color:red;
}
.Products h2{
    font-style: bold;
    color:red;
}

.Products a{
    font-style: bold;
    color:red;
}
/*This is the Home page CSS*/
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'kumbh Sans', sans-serif;
}



.footer{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;

}
.Welcome{
    display:flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Lorem ipsum dolor sit amet;
}
body {font-family: Arial, Helvetica, sans-serif;}

.News_Letter{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}
form {
  font-family: Arial;
}
input[type=text]{
    width: 15%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    top: 145%;
    left: 47%;
    transform: translate(-50%, -50%);
  }**/
  input[type=submit]{
    padding: 4px 15px;
    border-radius: 20px;
    transition-duration: 0.5s;
      position: absolute;
      top: 146%;
      left: 58%;
      transform: translate(-50%, -50%);
  }
  .col{
    float: center;
    padding:10px;
    flex:100%

}
.Featured::after{
    content: "";
    clear: both;
    display:table;

}

.Featured{
    position: absolute;
    top: 80%;
    left: 4%;
 

    display:flex;
    text-align: center;
    padding-top:5%;
    border-radius: 1px solid black;
   
}
.checked{
    color: orange;
}
.Main-Info img{
    width: 1440px;
    height:570px;

}

#productButtons button{
    border: 1.5px solid black;
    padding: 0.5em 2em;
    border-radius: 1em;
    color: #6a88ed;
    cursor: pointer;
    margin-bottom: 15px;
}

/*search Bar*/

.search {
    width: 100%;
    position: relative;
    display: flex;

}

.searchTerm {
    width: 100%;
    height: 36px;
    border: 3px solid #000000;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchTerm:focus{
    color: #141525;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #000202;
    background: #000000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap{
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Welcome-Moto{
    padding-right: 5px;
}
